<configuration
xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
xmlns:nlog="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <nlog:nlog throwExceptions="false" autoReload="true" internalLogFile="e:\logs\splunkdemo\nlog.txt" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xdt:Transform="SetAttributes">
    <nlog:variable name="logDirectory" value="e:\logs" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <nlog:rules>
      <nlog:logger name="*" minlevel="Trace" maxlevel="Info" writeTo="fileTDI" xdt:Transform="Remove" xdt:Locator="Match(writeTo)"/>      
    </nlog:rules>
  </nlog:nlog>
</configuration>