<configuration
xmlns:nlog="http://www.nlog-project.org/schemas/NLog.xsd"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <nlog:nlog throwExceptions="true" internalLogFile="c:\logs\splunkdemo\nlog.txt" autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <nlog:variable name="logDirectory" value="c:\logs"/>
    <nlog:variable name="site" value="splunkdemo"/>
    <nlog:targets>
      <nlog:target name="fileTD" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
        <nlog:target name="file" xsi:type="File" layout="${date}|${level}|${message}" fileName="${logDirectory}\${site}\${site}_trace_debug.log"
                archiveFileName="${logDirectory}\${site}\archives\${site}_trace_debug.{#####}.txt" archiveAboveSize="1048576"
                archiveNumbering="Sequence" concurrentWrites="true"
                keepFileOpen="true" maxArchiveFiles="100" createDirs="true"/>
      </nlog:target>
      <nlog:target name="fileI" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
        <nlog:target name="file" xsi:type="File" layout="${date}|${level}|${message}" fileName="${logDirectory}\${site}\${site}_info.log"
                archiveFileName="${logDirectory}\${site}\archives\${site}_info.{#####}.txt" archiveAboveSize="1048576"
                archiveNumbering="Sequence" concurrentWrites="true"
                keepFileOpen="true" maxArchiveFiles="100" createDirs="true"/>
      </nlog:target>
      <nlog:target name="fileWarn" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
        <nlog:target name="file" xsi:type="File" layout="${date}|${level}|${stacktrace}|${message}" fileName="${logDirectory}\${site}\${site}_warn.log"
                archiveFileName="${logDirectory}\${site}\archives\${site}_warn.{#####}.txt"
                archiveAboveSize="1048576" archiveNumbering="Sequence" concurrentWrites="true"
                keepFileOpen="true" maxArchiveFiles="100" createDirs="true"/>
      </nlog:target>
      <nlog:target name="fileException" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
        <nlog:target name="file" xsi:type="File" layout="${date}|${level}|${message}|${exception:innerFormat=ToString:maxInnerExceptionLevel=2:innerExceptionSeparator=#:separator=#:format=ToString,StackTrace}"
                fileName="${logDirectory}\${site}\${site}_ef.log"
                archiveFileName="${logDirectory}\${site}\archives\${site}_ef.{#####}.txt"
                archiveAboveSize="1048576" archiveNumbering="Sequence"
                concurrentWrites="true" keepFileOpen="true" maxArchiveFiles="100" createDirs="true"/>
      </nlog:target>
    </nlog:targets>
    <nlog:rules>
      <nlog:logger name="*" minlevel="Trace" maxlevel="Debug" writeTo="fileTD"/>
      <nlog:logger name="*" minlevel="Info" maxlevel="Info" writeTo="fileI"/>
      <nlog:logger name="*" minlevel="Warn" maxlevel="Warn" writeTo="fileWarn"/>
      <nlog:logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="fileException"/>
    </nlog:rules>
  </nlog:nlog>
</configuration>